.pilot-card {
  border-radius: 10px;
  background-color: #eee;
  color: black;
  overflow: hidden;
  width: 300px; /* 71.8% of height | floor(h * 0.728) */
  height: 418px; /* 139.4% of height | floor(w * 1.394) */
  display: flex;
  flex-direction: column;
  margin: auto;
}

.pilot-card .art {
  order: 1;
  flex-basis: 30%;
  text-align: center;
  background-color: black;
}

.pilot-card header {
  order: 2;
  flex-basis: 17%;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: stretch;
}
.pilot-card header .skill {
  order: 1;
  flex-basis: 19%;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}
.pilot-card header .name-ship {
  order: 2;
  justify-content: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-basis: 62%;
}
.pilot-card header .name-ship .name {
  font-size: 1rem;
}
.pilot-card header .name-ship .ship {
  font-size: 1.1rem;
}
.pilot-card header .faction {
  order: 3;
  flex-basis: 19%;
  text-align: center;
  font-size: 1.5rem;
}

.pilot-card .detail {
  order: 3;
  flex-basis: 42%;
  display: flex;
  align-items: stretch;
}

.pilot-card .detail .stats {
  order: 1;
  flex-basis: 31%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.pilot-card .detail .stats .box {
  display: flex;
  align-items: center;
}
.pilot-card .detail .stats .box .icon {
  order: 1;
  flex-basis: 51%;
  text-align: right;
  font-size: 1.25rem;
  overflow: hidden;
}
.pilot-card .detail .stats .box .value {
  order: 2;
  flex-basis: 49%;
  font-weight: bold;
  font-size: 1.5rem;
  text-align: center;
}

.pilot-card .detail .stats .attack {
  order: 1;
}
.pilot-card .detail .stats .attack .icon,
.pilot-card .detail .stats .attack .value {
  color: red;
}
.pilot-card .detail .stats .agility {
  order: 2;
}
.pilot-card .detail .stats .agility .icon,
.pilot-card .detail .stats .agility .value {
  color: green;
}
.pilot-card .detail .stats .hull {
  order: 3;
}
.pilot-card .detail .stats .hull .icon,
.pilot-card .detail .stats .hull .value {
  color: #dbd421;
}
.pilot-card .detail .stats .shield {
  order: 4;
}
.pilot-card .detail .stats .shield .icon,
.pilot-card .detail .stats .shield .value {
  color: blue;
}

.pilot-card .detail .text-actions {
  order: 2;
  flex-basis: 69%;
  display: flex;
  flex-direction: column;
}
.pilot-card .detail .text-actions .text {
  order: 1;
  flex-basis: 62%;
  display: flex;
  align-content: center;
  align-items: center;
  padding: 2px 7px 2px 7px;
}
.pilot-card .detail .text-actions .text p {
  text-align: center;
  font-size: 0.85rem;
}
.pilot-card .detail .text-actions .actions {
  order: 2;
  flex-basis: 38%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.pilot-card .detail .text-actions .actions .action {}

.pilot-card .slots {
  order: 4;
  flex-basis: 11%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.pilot-card .slots .ship {
  order: 1;
  flex-basis: 17%;
  text-align: center;
  font-size: 1.7rem;
}
.pilot-card .slots .tray {
  order: 2;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  flex-basis: 55%;
}
.pilot-card .slots .tray .icon {
  padding: 0 2px 0 2px;
}
.pilot-card .slots .value {
  order: 3;
  flex-basis: 28%;
  text-align: center;
}
