.upgrade-card {
  border-radius: 10px;
  background-color: #eee;
  color: black;
  overflow: hidden;
  width: 194px; /* 71.8% of height | floor(h * 0.728) */
  height: 298px; /* 139.4% of height | floor(w * 1.394) */
  display: flex;
  flex-direction: column;
  margin: auto;
  font-family: 'Abel', sans-serif;
}
