.upgrade-card {
  border-radius: 10px;
  background-color: #eee;
  color: black;
  overflow: hidden;
  width: 194px; /* 71.8% of height | floor(h * 0.728) */
  height: 298px; /* 139.4% of height | floor(w * 1.394) */
  display: flex;
  flex-direction: column;
  margin: auto;
  font-family: 'Abel', sans-serif;
}

.upgrade-card .content-area {
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
}

.upgrade-card .content-area .text-wrapper {

}

.upgrade-card .content-area .range {
  text-align: right;
}

.upgrade-card .content-area .range span {
  background: black;
  color: white;
}
