.pilot-card .slots {
  order: 4;
  flex-basis: 11%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.pilot-card .slots .ship {
  order: 1;
  flex-basis: 17%;
  text-align: center;
  font-size: 1.7rem;
}

.pilot-card .slots .tray {
  order: 2;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  flex-basis: 55%;
}

.pilot-card .slots .tray .icon {
  padding: 0 2px 0 2px;
}

.pilot-card .slots .value {
  order: 3;
  flex-basis: 28%;
  text-align: center;
}
